#IDE files
.vscode
.idea

#OBJ files
*.o
automata

#Test files
test_files

#Generated dependencies
dependencies

#Python venv
env
benchmarks/lib/
benchmarks/lib64
benchmarks/bin
benchmarks/pyvenv.cfg
benchmarks/include

#Benchmarks
benchmarks/benchmark_results
benchmarks/*.input
benchmarks/*.out
benchmarks/*.csv
